<app-nav-bar></app-nav-bar>
<div class="row d-flex justify-content-center align-items-center main">
  <div class="col-sm-5 text-sm-left text-center">
    <div class="ml-sm-5">
      <h1>Meet <span class="font-weight-bold blue">Galen.</span></h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Pellentesque diam volutpat commodo sed egestas. Elementum sagittis vitae et leo duis ut. Nulla
        facilisi nullam vehicula ipsum. Duis at consectetur lorem donec. Eu augue ut lectus arcu.
      </p>
      <a class="btn-lg btn-primary btn blue-button mt-sm-3 mt-0">Start Demo</a>
    </div>
  </div>
  <div class="col-sm-7">
    <img src="assets/macbook.png" class="img-fluid">
  </div>
</div>
<div class="container-fluid blue-background pt-5 pb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-6 order-sm-1 order-2">
      <img src="assets/drug.png" class="img-fluid">
    </div>
    <div class="col-sm-6 text-sm-left text-center order-sm-2 order-1">
      <div class="ml-sm-5">
        <h1>Stopping <span class="font-weight-bold white">opioids</span> in their tracks.</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Pellentesque diam volutpat commodo sed egestas. Elementum sagittis vitae et leo duis
          ut. Nulla facilisi nullam vehicula ipsum. Duis at consectetur lorem donec. Eu augue ut lectus arcu.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-5 pb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 text-center">
      <h1><span class="blue">Technology </span>we used</h1>
    </div>
    <div class="col-sm-4 text-center mb-sm-0 mb-3">
      <img src="assets/google.png" class="img-fluid">
    </div>
    <div class="col-sm-4 text-center mb-sm-0 mb-5">
      <img src="assets/ibm.png" class="img-fluid">
    </div>
    <div class="col-sm-4 text-center">
      <img src="assets/heroku.png" class="img-fluid w-50 h-50">
    </div>
  </div>
</div>

