<app-nav-bar show-button=true></app-nav-bar>
<div class="row d-flex justify-content-center align-items-center main">
  <div class="col-sm-5 text-sm-left text-center">
    <div class="ml-sm-5">
      <h1>Meet <span class="font-weight-bold blue">Galen.</span></h1>
      <p>
        Galen is designed to help the opioid crisis by utilizing state of the art Machine Learning models and Cloud computing services to determine various outputs for the stakeholders. Galen can help doctors and healthcare providers the risk with prescribing certain at risk drugs like Opioids and Adderall, which are prone to being abused. Using this information the propreitary models will determine the confidence scores with issuing the medicine to the patient to avoid fraud, misuse, and overdoses. The secondary function is to allow for extremly effective targeted overdose prevention clinics. Using Machine learning to connect the current data on overdoses, malpractise, fraudulent pharmacies and unethical doctors the model will provide areas where most problems regarding this arise thus greatly aiding in targeted prevention clinics. This can also be used in detective domains to find and punish abusers of law and help uphold the laws. 
      </p>
      <a class="btn-lg btn-primary btn blue-button mt-sm-3 mt-0" [routerLink]="['begin']">Start Demo</a>
    </div>
  </div>
  <div class="col-sm-7">
    <img src="assets/macbook.png" class="img-fluid">
  </div>
</div>
<div class="container-fluid blue-background pt-5 pb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-6 order-sm-1 order-2">
      <img src="assets/drug.png" class="img-fluid">
    </div>
    <div class="col-sm-6 text-sm-left text-center order-sm-2 order-1">
      <div class="mr-sm-5">
        <h1>Stopping <span class="font-weight-bold white">opioids</span> in their tracks.</h1>
        <p>
          Did you know?
          Approximately 11 lives were lost each day due to opioid overdoses in 2017 in Canada alone.
          Opioids are drugs that affect your mind, mood, and mental processes to produce a feeling of being high. This can potentially cause one to harm themselves. The opioid crisis is a public health issue that affects many families and cause them to suffer the loss of their loved ones. Legal opioids are prescribed by health care professionals to treat pain caused from injuries, surgery, dental procedures, or long-term chronic pain. The illegal drug-supply of opioids increases the chances of opioid overdoes making opioid-related fatalities to be the leading cause of death among Canadians aged 30 to 39 years in 2017.  
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-5 pb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 text-center">
      <h1><span class="blue">Technology </span>we used</h1>
    </div>
    <div class="col-sm-4 text-center mb-sm-0 mb-3">
      <img src="assets/google.png" class="img-fluid">
    </div>
    <div class="col-sm-4 text-center mb-sm-0 mb-5">
      <img src="assets/ibm.png" class="img-fluid">
    </div>
    <div class="col-sm-4 text-center">
      <img src="assets/heroku.png" class="img-fluid w-50 h-50">
    </div>
  </div>
</div>

