<app-nav-bar></app-nav-bar>
<div class="row d-flex justify-content-center align-items-center main ml-sm-0 mr-sm-0 ml-3 mr-3 pb-5">
  <div class="col-sm-12 text-center mb-5">
    <h1><span class="blue">Success!</span> Your prescription order has been submitted.</h1>
  </div>
  <div class="col-sm-12 text-center">
    <img src="/assets/success.svg" class="resize">
  </div>
  <div class="col-12 mt-5">
    <div class="row d-flex justify-content-center">
      <a class="btn btn-primary btn-secondary col-sm-3 mr-sm-5 mb-sm-0 mb-3" [routerLink]="['/']">Return</a>
      <a class="btn btn-primary blue-button col-sm-3" [routerLink]="['/begin']">Submit another prescription</a>
    </div>
  </div>
</div>
